<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><i class="fa fa-gears"></i> <span>Wanda FLP</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <% if(user.gender == 'p'){ %>
                    <img src="../images/userfemale.png" alt="..." class="img-circle profile_img">
                    <% }else{ %>
                        <img src="../images/usermale.png" alt="..." class="img-circle profile_img">
                        <% } %>
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2><b><%- user.name %></b></h2>
            </div>
        </div>
        <!-- /menu prile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>
                    <%- user.title %>
                </h3>
                <ul class="nav side-menu">
                    <%if(user.title != 'SA'){ %>
                    <li>
                        <a><i class="fa fa-home"></i> Home<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/">Dashboard</a>

                            </li>
                        </ul>
                    </li>
                    <% } %>

                    <!-- master data submenu -->
                    <% if(user.title == 'Admin Main Dealer'){ %>
                        <li>
                            <a><i class="fa fa-edit"></i> Data Master <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">
                                <li><a href="/MasterUser/Index">Master User</a></li>
                                <li><a href="/MasterQuiz/Index">Master Quiz</a></li>
                                <li><a href="/MasterTraining/Index">Master Training</a></li>
                                <li><a href="/MasterModul/Index">Master Modul</a></li>
                                <li><a href="/MasterTools/Index">Master Tool</a></li>
                                <li><a href="/MasterOrderTools/Index">Master Pemesanan Tool</a></li>
                            </ul>
                        </li>
                    <% } %>

                    <!-- report sub menu -->
                    <% if(user.title == 'Admin Main Dealer'){ %>
                        <li>
                            <a><i class="fa fa-edit"></i> Report <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">
                                <li><a href="/ReportLoginHarian/Index">Report Login Harian</a></li>
                            </ul>
                        </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </div>
</div>