<% layout('../partials/layout') -%>
<link rel="stylesheet" type="text/css" href="../css/pagination.css" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Master Modul<small>add</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="modulForm" action="/MasterModul/AddSubmit" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" novalidate>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modulName">Nama Modul</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="modulName" name="modulName" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fileUpload">File Upload</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="file" id="fileUpload" name="fileUpload" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                    <a href="/MasterModul/Index" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- partial('../partials/footer') %>
</div>

<script src="../js/pagination.js"></script>
<script>
    $(document).ready(function() {
        $('#modulForm').on('submit', function(e) {
            var isValid = true;
            var errorMessage = '';

            var modulName = $('#modulName').val().trim();
            var fileUpload = $('#fileUpload').val().trim();
            var fileExtension = fileUpload.split('.').pop().toLowerCase();
            var forbiddenExtensions = ['zip', 'rar'];
            var fileSize = document.getElementById('fileUpload').files[0].size;

            if (modulName === '') {
                errorMessage += 'Nama Modul harus diisi.\n';
                isValid = false;
            }

            if (fileUpload === '') {
                errorMessage += 'File Upload harus diisi.\n';
                isValid = false;
            } else if (forbiddenExtensions.includes(fileExtension)) {
                errorMessage += 'File type not allowed. Please upload a valid file.\n';
                isValid = false;
            } else if (fileSize > 500 * 1024 * 1024) {
                errorMessage += 'File size must not exceed 500MB.\n';
                isValid = false;
            }

            if (!isValid) {
                alert(errorMessage);
                e.preventDefault();
            }
        });
    });
</script>
<!-- <script>
    $(document).ready(function() {
        $('#modulForm').on('submit', function(e) {
            var isValid = true;
            var errorMessage = '';

            var modulName = $('#modulName').val().trim();
            var fileUpload = $('#fileUpload').val().trim();

            if (modulName === '') {
                errorMessage += 'Nama Modul harus diisi.\n';
                isValid = false;
            }

            if (fileUpload === '') {
                errorMessage += 'File Upload harus diisi.\n';
                isValid = false;
            }

            if (!isValid) {
                alert(errorMessage);
                e.preventDefault();
            }
        });
    });
</script> -->