<% layout('../partials/layout') -%>
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Master Modul<small> Detail</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modulName">Nama Modul:</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <label class="view-label col-md-7" for="modulName"><%= data.modulName %></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fileUpload">File Upload:</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="form-control-static"><a href="<%= data.fileUpload %>" target="_blank"><%= data.fileUpload %></a></p>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="/MasterModul/Index" class="btn btn-primary">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer content -->
    <%- partial('../partials/footer') %>
    <!-- /footer content -->
</div>
