<h1>Add Master Training</h1>
<form action="/MasterTraining/AddSubmit" method="post">
    <label>Nama Training:</label>
    <input type="text" name="trainingName"><br><br>
    <label>Jumlah Peserta:</label>
    <input type="number" name="participant"><br><br>
    <label>Periode Awal:</label>
    <input type="date" name="trainingStartDate"><br><br>
    <label>Periode Akhir:</label>
    <input type="date" name="trainingEndDate"><br><br>
    <label>Modul:</label>
    <input type="text" name="modul"><br><br>
    <input type="submit" value="Add">
</form>