<% layout('../partials/layout') -%>
<link rel="stylesheet" type="text/css" href="../css/pagination.css" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Master Training<small>add</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form action="/MasterTraining/AddSubmit" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trainingName">Nama Training</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="trainingName" name="trainingName" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="participant">Jumlah Peserta</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" id="participant" name="participant" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trainingStartDate">Periode Awal</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="date" id="trainingStartDate" name="trainingStartDate" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trainingEndDate">Periode Akhir</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="date" id="trainingEndDate" name="trainingEndDate" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modul">Modul</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="modul" name="modul" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                    <!-- <a href="/MasterTraining/Index" class="btn btn-default">Cancel</a> -->
                                    <a href="/MasterTraining/Index" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- partial('../partials/footer') %>
</div>

<script src="../js/pagination.js"></script>

<script>
$(document).ready(function() {
    $('#trainingStartDate').on('change', function() {
        var startDate = $(this).val();
        $('#trainingEndDate').attr('min', startDate);
    });

    $('#demo-form2').on('submit', function(e) {
        var startDate = new Date($('#trainingStartDate').val());
        var endDate = new Date($('#trainingEndDate').val());

        if (endDate < startDate) {
            alert('Periode akhir tidak boleh kurang dari periode awal.');
            e.preventDefault();
        }
    });
});
</script>
